[user]
  name = Mansheng Yang
  email = mansheng.yang@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  pager = less -F -X
  editor = vim
[push]
  default = simple
[color]
  ui = true
[alias]
  co = checkout
  ci = commit
  cim = commit -m
  l = log --oneline --graph
  logp = log -p
  log1 = log -1 -p
  logm = log --merge
  aa = add -A
  au = add -u
  a = add
  amend = commit --amend
  amenda = commit -a --amend
  br = branch
  s = status
  d = diff
  dc = diff --cached
  sub = submodule
  subrm = submodule-rm
  updatesub = submodule foreach git pull origin master
  wl = wip log -p
  wlp = wip log -p -u
  wlg = wip log -p -u -r
  rescue = "!git fsck --no-reflog | awk '/dangling commit/ {print $3}'"
  rescuek = "!gitk --all $(git fsck --no-reflog | awk '/dangling commit/ {print $3}')"
	home = rev-parse --show-toplevel
[init]
	defaultBranch = master
